# coding: utf-8

"""
    maiot Core Engine API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 0.1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from ce_api.api_client import ApiClient


class OrchestratorsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def create_orchestrator_api_v1_orchestrators_post(self, body, **kwargs):  # noqa: E501
        """Create Orchestrator  # noqa: E501

        Connect new orchestrator. Only gcp supported for now  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_orchestrator_api_v1_orchestrators_post(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param OrchestratorCreate body: (required)
        :return: Orchestrator
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_orchestrator_api_v1_orchestrators_post_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_orchestrator_api_v1_orchestrators_post_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_orchestrator_api_v1_orchestrators_post_with_http_info(self, body, **kwargs):  # noqa: E501
        """Create Orchestrator  # noqa: E501

        Connect new orchestrator. Only gcp supported for now  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_orchestrator_api_v1_orchestrators_post_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param OrchestratorCreate body: (required)
        :return: Orchestrator
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_orchestrator_api_v1_orchestrators_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_orchestrator_api_v1_orchestrators_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2PasswordBearer']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/orchestrators/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Orchestrator',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_loggedin_orchestrator_api_v1_orchestrators_get(self, **kwargs):  # noqa: E501
        """Get Loggedin Orchestrator  # noqa: E501

        Gets the logged in users orchestrators details  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_loggedin_orchestrator_api_v1_orchestrators_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: list[Orchestrator]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_loggedin_orchestrator_api_v1_orchestrators_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_loggedin_orchestrator_api_v1_orchestrators_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_loggedin_orchestrator_api_v1_orchestrators_get_with_http_info(self, **kwargs):  # noqa: E501
        """Get Loggedin Orchestrator  # noqa: E501

        Gets the logged in users orchestrators details  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_loggedin_orchestrator_api_v1_orchestrators_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: list[Orchestrator]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_loggedin_orchestrator_api_v1_orchestrators_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2PasswordBearer']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/orchestrators/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[Orchestrator]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
